<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.wordMapper">
   <select id="wordList" resultType="com.spring.WordVO">
            SELECT
                 idx,sentence,content,category
             FROM
                  word
        </select>
   <select id="wordTestList" resultType="com.spring.WordVO">
            SELECT
                 idx,sentence,content,category
             FROM
                  word
             WHERE category = #{category}
    </select>
   <select id="categoryList" resultType="com.spring.Category">
            SELECT
                 idx,cate
             FROM
                  category
    </select>
    <select id="wordCompare" resultType="String">
    	SELECT sentence
    	FROM word
    	WHERE idx = #{idx}
    </select>
   <insert id="wordadd" parameterType="com.spring.WordVO">
   		INSERT INTO word (sentence,content,category) 
   		VALUES (#{sentence},#{content},#{category})
   </insert>
   <insert id="categoryAdd" parameterType="com.spring.Category">
   		INSERT INTO category (cate) 
   		VALUES (#{cate})
   </insert>
</mapper>